@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("../fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("../fonts/robotobold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../fonts/robotobold.woff") format("woff");
}

/* Variables */
:root {
  /*index color */
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-less-dark: #283136;
  --basic-less-white: #EEEEEE;
  --basic-midleLight-red: #FB565A;
  --basic-gray: #A6A6A6;
  --basic-light-gray: #E1E1E1;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-dark-gray: #444444;
  --basic-middle-gray: #666666;
  --basic-flash-white: #C1C1C1;
  /* catalog color*/
  --basic-middleDark-gray: #4D4D4D;
  --basic-veryLight-gray: #F2F2F2;
  --basic-mediumLight-gray: #ABABAB;
  --basic-medium-dark: #231F20;
  --basic-veryLight-blue: #D7DCDF;
  --basic-special-gray: #DBDBDB;
  /* styleguide color*/
  --basic-midleDark-green: #01A25E;
  --basic-pink-red: #E74246;
  --basic-veryPink-red: #D7373B;
  --basic-midleLigth-blue: #B4B9BB;
  --basic-less-gray: #D5D5D5;
  --basic-verySpecial-blue: #D7DCDE;
  --basic-veryLess-gray: #DFDFDF;
  --basic-medium-green: #00AA62;
  --basic-lessDark-green: #00BC6C;
  --basic-medium-yellow: #E5A722;
  --basic-light-yellow: #EAB534;
  --basic-midleLight-yellow: #EFC849;
}


/* Global */
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  min-width: 1440px;
  margin: 0;
  padding: 0;
  color: var(--basic-less-dark);
  text-transform: none;
  background-color: var(--basic-white);

  /* min-height: 100%; */
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Grid */
.page {
  height: 100%;
}

/* Main header */
.main-header {
  padding-top: 50px;
}

.main-bg {
  background-color: var(--basic-less-white);
}

/* Container */

.container{
  width: 1160px;
  height: auto;
  margin: 0 auto;
  padding: 0 0px;
}

.slider-list .container{
  height: 426px;
}

/* Navigations */
.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);

}

.main-navigation-wrapper{
  display: grid;
  grid-template-columns: auto 1fr min-content;
  align-items: center;
}


.main-header-logo:hover,
.main-header-logo:focus{
  opacity: 0.7;
}

.main-header-logo:active{
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.active-navigation{
  text-decoration: underline var(--basic-midleLight-red) 2px;
  text-underline-offset: 13px;
  text-underline-position: under;
}

/* User navigation */
.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 10px 10px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: var(--basic-midleLight-red);
}

.site-navigation a:active,
.basket-navigation span:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.basket-navigation .basket-link{
  position: relative;
  padding-left: 50px;
}

.basket-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 18px;
  left: 18px;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* advantages Slider*/

.slider-item h3{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 22px;
}

.slider-item p{
  margin-top: 0;
  margin-bottom: 38px;
}

.slider-list {
  margin-bottom: 70px;
  position: relative;
}

.slider-controls {
  position: relative;
  bottom: 115px;
  left: 540px;
  display: flex;
  width: 88px;
  gap: 17px;
  flex-wrap: wrap;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .slider-controls-current::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 2px solid var(--basic-flash-white);
  border-radius: 50%;
}

.slider-item {
  position: relative;
  padding-top: 78px;
}

.slider-item-smartfones::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  right: 0;
  bottom: 0;
  background-image: url("../img/slider/slide-3-phone.png");
}

.slider-item-monitor::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  left: 420px;
  bottom: 0;
  background-image: url("../img/slider/slide-2-monoblock.png");
}

.slider-item-tablet::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  left: 420px;
  bottom: 0;
  background-image: url("../img/slider/slide-ipad-phone.png");
}

.advantages-button {
  display: inline-block;
  margin-bottom: 80px;
  padding-left: 54px;
  padding-right: 54px;
}

/* Button */
.button {
  font: inherit;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-midleLight-red);
}

.button:hover,
.button:focus {
  background-color: var(--basic-pink-red);
}

.button:active {
  background-color: var(--basic-veryPink-red);
}

.active-opacity:active{
  opacity: 0.3;
}

/* services */
.services .button{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.services{
  margin-bottom: 80px;
}

.services-list{
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}


.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 25px;
  margin-bottom: 16px;
}

.services-item p{
  margin-bottom: 49px;
}

.app-button{
  background-color: var(--basic-green);
}

.app-button:hover,
.app-button:focus{
  background-color: var(--basic-lessDark-green);
}

.app-button:active{
  background-color: var(--basic-medium-green);
}

.presentation-button{
    background-color: var(--basic-yellow);
}

.presentation-button:hover,
.presentation-button:focus{
  background-color: var(--basic-light-yellow);
}

.presentation-button:active{
  background-color: var(--basic-medium-yellow);
}

/* about-company */
.index-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 75px;
  column-gap: 40px;
  border-top: 2px solid var(--basic-less-white);
  padding-top: 39px;
}

.about-company{
  grid-column: 1/3;
}

.text-about-company{
  margin: 0;
  margin-bottom: 40px;
}

.about-company li:not(:last-child) {
  margin-bottom: 23px;
}

.about-company li {
  position: relative;
  padding-left: 37px;
}

.about-company li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-midleLight-red);
}


.proud-about-company{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  color: var(--basic-black);
}

.order-about-company{
  text-transform: uppercase;
  font-weight: 700;
}

.about-accuracy h3{
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 0px;
}

.about-company-accuracy{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
  margin-bottom: 0px;
  margin-top: 31px;
}

.about-company-accuracy dt{
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  grid-row: 1/-1;
 }

.about-company-accuracy span{
  font-size: 26px;
  line-height: 40px;
  vertical-align: 14px;
}

.about-company-accuracy dd{
  line-height: 18px;
  margin: 0;
}

/* clients */
.clients{
  margin-bottom: 80px;
}

.clients-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 95px;
  justify-content: center;
  border-top: 2px solid var(--basic-less-white);
  border-bottom: 2px solid var(--basic-less-white);
  padding-top: 46px;
  padding-bottom: 44px;
}

.clients li{
  position: relative;
  padding-right: 25px;
}

.clients li::after{
  content: "";
  position: absolute;
  right: -45px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-less-white);
}

.clients li:last-child::after{
  content: none;
}

.clients-item a{
  opacity: 0.2;
}

.clients-item{
  box-sizing: border-box;
  width: 209px;
  height: 90px;

}

.clients-item:hover,
.clients-item:focus{
  opacity: 1;
}

.clients-item:active{
  opacity: 0.1;
}

/* contacts */

.contacts-block{
  background-color: var(--basic-white);
  box-sizing: border-box;
  width: 319px;
  min-height: 308px;
  padding-top: 49px;
  padding-bottom: 47px;
  justify-self: start;
  position: absolute;
  bottom: auto;
  padding-left: 50px;
  top: 54px;
}

.contacts{
  margin-bottom: 68px;
  position: relative;
}

.contacts-name{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  margin-bottom: 23px;
  margin-top: 0px;
}

.contacts-adress{
  line-height: 18px;
  color: var(--basic-middle-gray);
}

.contacts-tel{
  margin-bottom: 54px;
}

.contacts-phone{
  line-height: 18px;
  color: var(--basic-middle-gray);
}

.contacts-button{
  padding-left: 44px;
  padding-right: 44px;
}

.contacts-map::before{
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  right: 30%;
  bottom: 38%;
  background: url("../img/icons/map-marker1.png") no-repeat 0 0;
}

.contacts-map {
  height: 416px;
  width: 1440px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* Main footer */
.main-footer{
  margin-bottom: 68px;
}

.main-footer .container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

/* footer */
.footer-list{
  display: flex;
  justify-content: left;
  gap: 9px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--basic-light-gray);
  color: inherit;
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--basic-pink-red);
  background: linear-gradient(0deg, var(--basic-veryPink-red), var(--basic-veryPink-red)), var(--basic-white);
}

.social-button:active path {
  opacity: 0.3;

}

.social-button:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)h;
  background: linear-gradient(0deg, var(--basic-pink-red), var(--basic-pink-red)), var(--basic-white);
}

.footer-friend{
font-weight: 700;
font-size: 36px;
line-height: 36px;
color: var(--basic-black);
margin: 0;

}

.footer-discont{
  line-height: 22px;
  color: var(--basic-dark-gray);
  margin: 10 0;
}

/* modal */
.modal-write{
  box-sizing: border-box;
  background-color: var(--basic-white);
  width: 960px;
  height: 590px;
  padding: 78px 90px 84px 100px;
  margin-left: 99px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}


.modal-write h2{
  visibility: visible;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-top: 0px;
  margin-bottom: 0px;
  color:var(--basic-black);
}

.modal-write-us{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;
  margin-bottom: 37px;
}


.modal-description{
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.modal-name-email{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.name-user, .email-user{
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-left: 16px;
}



.text-user{
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--basic-verySpecial-blue);
  border-radius: 3px;
  opacity: 0.5;
  color: var(--basic-dark-gray);
  resize: none;
  box-sizing: border-box;
  width: 760px;
  height: 118px;
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 47px;
}

.login-form input[type="text"],
.login-form input[type="email"] {
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--basic-verySpecial-blue);
  border-radius: 3px;
  opacity: 0.5;
  color: var(--basic-dark-gray);
}

.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover{
  border: 2px solid var(--basic-midleLigth-blue);
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus{
  border: 2px solid var(--basic-black);
  opacity: 1;
}

.login-form input[type="text"]:invalid,
.login-form input[type="email"]:invalid{
  border: 2px solid var(--basic-pink-red);
  border-radius: 3px;
  color: var(--basic-pink-red);
}

.modal-send{
  padding-left: 83px;
  padding-right: 83px;
}

.modal-close svg{
  opacity: 0.3;
}

.modal-close svg:hover{
  opacity: 1;
}

.modal-close svg:active{
  opacity: 0.1;
}

/*catalog*/
.catalog-main-head{
  margin-top: 0;
  padding-top: 72px;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.catalog-main-head h1{
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--basic-black);
}

.product-filters fieldset{
  border: none;
  padding-inline: 0px;
  padding-block: 0px;
  margin-inline: 0px;
}

.product-filters h2{
  display: none;
}

.catalog h2{
  display: none;
}

.catalog-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  align-content: start;
  column-gap: 40px;
}

/* Price Slider */
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
  margin-bottom: 54px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/* Filters */
.form-filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 13px;
}

.form-filter fieldset:nth-child(2) {
  margin-bottom: 47px;
}

.form-filter fieldset:nth-child(3) {
  margin-bottom: 50px;
}

.form-filter legend {
  margin: 0;
  margin-bottom: 16px;
}


.form-grid label:not(:last-child),
.form-features label:not(:last-child) {
  margin-bottom: 23px;
}

.form-grid label,
.form-features label {
  display: block;
}

.form-grid label {
  position: relative;
  cursor: pointer;
  padding-left: 42px;
}

.fieldset-clear {
  border: none;
}

.tech-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-middleDark-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-middleDark-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

.form-grid label:not(:last-child),
.form-features label:not(:last-child) {
  margin-bottom: 23px;
}

.form-grid label,
.form-features label {
  display: block;
}

.form-features label {
  position: relative;
  cursor: pointer;
  padding-left: 42px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background: url("../img/icons/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 23px;
  background: url("../img/icons/checkbox-on.svg");
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter-button{
  color: var(--basic-black);
  background-color: var(--basic-less-white);
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 16px 88px 16px 88px;
}

.filter-button:hover,
.filter-button:focus{
  background-color: var(--basic-veryLess-gray);
}

.filter-button:active{
  background-color: var(--basic-less-gray);
  color: var(--gray-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Sorting buttons*/
.sort-list-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
  /* grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 48px; */
}

.sorting-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-list-grid p{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sorting-filter{
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 47px;
}

.sorting-filter a{
  font: inherit;
  color: var(--basic-black);
  opacity: 0.3;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-filter a:hover,
.sorting-filter a:focus{
  opacity: 0.6;
}

.sorting-filter a:active{
  opacity: 1;
}

.sorting-filter-current a,
.sorting-filter-current a:hover,
.sorting-filter-current a:focus,
.sorting-filter-current a:active {
  font: inherit;
  color: var(--basic-black);
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.arrows {
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.arrows a{
  opacity: 0.2;
}

.arrows a:hover,
.arrows a:focus {
  opacity: 0.4;
}

.arrows a:active {
  opacity: 1;
}

.arrows-filter-current a,
.arrows-filter-current a:hover,
.arrows-filter-current a:focus,
.arrows-filter-current a:active{
  opacity: 1;
}

/* Site-products catalogs */
.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 25px;
  margin-bottom: 55px;
}

.products-list li{
  position: relative;
}

.products-list-item img {
  display: block;
}

.products-list-item:hover .products-header-items {
  opacity: 1;
}

.products-list-item:hover .products-description {
  display: block;
}

.product-name:hover,
.product-name:focus{
  color: var(--basic-midleLight-red);
}

.product-name{
  color: var(--basic-middle-gray);
}

.product-name:active{
  color: var(--basic-black);
  opacity: 0.3;
}


.products-description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-name{
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  line-height: 30px;
}

.products-description {
  box-sizing: border-box;
  background-color: var(--basic-less-white);
  width: 358px;
  padding-top: 30px;
  padding-bottom: 44px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.products-button{
  margin-left: auto;
  margin-right: auto;
  padding-left: 72px;
  padding-right: 72px;
  display: block;
}

.products-button:active {
  color: var(--basic-white);
  background-color: var(--basic-veryPink-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-header-items {
  width: 358px;
  display: flex;
  align-items: center;
  background-color: var(--basic-middleDark-gray);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  opacity: 0.12;
}

.products-header-items li {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-right: 9px;
}

.products-header-items li:first-child {
  margin-left: 16px;
}

/* page catalog buttons */
.pagination-list{
  grid-column: 1 / -1;
  display: flex;
  text-align: center;
  margin-bottom: 55px;
}

.pagination-list li{
  margin-right: 11px
}

.pagination-item {
  display: block;
  background-color: var(--basic-less-white);
  width: 50px;
  height: 50px;
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
}

.pagination-active{
  background-color: var(--basic-white);
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 44px;
  height: 44px;
  line-height: 47px;
}

.pagination-next-page {
  width: 260px;
}

.pagination-item:hover:not(.pagination-active) {
  background-color: var(--basic-veryLess-gray);
}

.pagination-item:active:not(.pagination-active) {
  background-color: var(--basic-less-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);;
  color: var(--gray-active);
}
